<div class="container">
  <button class="btn btn-outline-success" (click)="back()">Regresar</button>
    <div class="alert alert-success" role="alert" *ngIf="mostrar">
      <h2>Usuario creado con exito</h2>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="error">
      <h2><p>Ha ocurrido un error</p></h2>
      <p>Verifica los datos</p>
    </div>
    <div class="box">
      <h1><p>Registrate</p></h1>
      <input class ="form-control" placeholder="nombre" [(ngModel)]="nombre">
      <input class ="form-control" placeholder="correo" [(ngModel)]="correo">
      <input class ="form-control" placeholder="password" [(ngModel)]="password" type="password">
      <button class="btn btn-danger btn-block" (click)="registrar()">Registrar</button>
    </div>
</div>
