<div class="container m-5">
    <button class="btn btn-outline-success" (click)="back()" >Regresar</button>
  <table class="table">
      <thead>
          <th>Id</th>
          <th>Cliente</th>
          <th>Correo</th>
          <th>Password</th>
      </thead>
      <tbody *ngFor="let cliente of data; let i = index">
          <td>{{i}}</td>
          <td>{{cliente.nombre}}</td>
          <td>{{cliente.correo}}</td>
          <td>{{cliente.password}}</td>
      </tbody>
  </table>
  <button class="btn btn-danger" (click)="eliminar=!eliminar" >Eliminar</button>
  <button class="btn btn-warning" (click)="modificar=!modificar" >Modificar</button>
</div>

<app-eliminar *ngIf="eliminar" (close)="delete($event)" ></app-eliminar>
<app-modificar *ngIf="modificar" (close)="update($event)"></app-modificar>
