.box{
  margin-top: 25%;
  margin-left: 40%;
  width: 450px;
  border: 1px solid #BEBEBE;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 3px 4px 1px rgba(0,0,0,0.2);
}

input{
  margin:10px auto;
}

p{
  text-align: center;
  margin-top: 10px;
}

a{
  cursor: pointer;
  color:black;
  text-align: center;
}

a:hover{
  outline: #BEBEBE;
}
